<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div  [hidden]="editted" style="width: 300px;">
        <h3>Edit Product</h3>
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" required [(ngModel)]="product.title" name="title">
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" required [(ngModel)]="product.description" name="description">
            </div>

            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" class="form-control" id="price" required [(ngModel)]="product.price" name="price">
            </div>

            <button type="submit" class="btn btn-success">Edit</button>
        </form>
    </div>
</div>

<div [hidden]="!editted">
    <div class="alert alert-success">
        <h3>Success!</h3>
        <p>User successfully added to the user table.</p>
        <button class="btn btn-success" (click)="editProduct()">Edit</button>
    </div>
</div>
</body>

