<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div *ngIf="product">
        <mat-card-header>
            <mat-card-title><h4>{{product.title}}</h4></mat-card-title>
            <mat-card-subtitle>{{product.inStock}}</mat-card-subtitle>
        </mat-card-header>
        <hr>
        <!--
        <img mat-card-image src="/assets/img/indir.jpeg" alt="{{product.title}}">
        -->

         <div id="myCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                    <li class="item1 active"></li>
                    <li class="item2"></li>
                    <li class="item3"></li>
                    <li class="item4"></li>
                </ol>
                <div class="carousel-inner" role="listbox">

                    <div class="item active">
                        <img src="/assets/img/indir2.jpeg" alt="Chania" >
                        <div class="carousel-caption">
                            <h3>Chania</h3>
                            <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="/assets/img/indir1.jpeg" alt="Chania" >
                        <div class="carousel-caption">
                            <h3>Chania</h3>
                            <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="/assets/img/indir3.jpeg" alt="Flower" >
                        <div class="carousel-caption">
                            <h3>Flowers</h3>
                            <p>Beautiful flowers in Kolymbari, Crete.</p>
                        </div>
                    </div>
                </div>

                <a class="left carousel-control" href="#myCarousel" role="button">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>


    <mat-card-actions>
            <button mat-button mat-raised-button class="detailsButton" [routerLink]="['/oneProduct/'+this.product.productID]"> <i class="material-icons">visibility</i> Product Details</button>
            <button mat-button mat-raised-button class="editButton" [routerLink]="['/edit/'+this.product.productID]"> <i class="material-icons">mode_edit</i> Edit Product</button>
        </mat-card-actions>
    </div>

</body>


