
<mat-toolbar style="background-color: #110909;font-size: 22px;color: aliceblue">Product Details</mat-toolbar>

<div class="details-product">
    <mat-card>
        <mat-card-title>
            <span class="mat-card-header">{{title}}</span>
        </mat-card-title>
        <mat-card-content>
            <div class="left">
                <img src="/assets/img/indir.jpeg" alt="image">
            </div>
            <div class="right">
                <mat-list>
                    <mat-list-item><i class="material-icons">star</i>ProductName:&nbsp;&nbsp;<b> {{title}}</b></mat-list-item>
                    <mat-list-item><i class="material-icons">star</i>Price:&nbsp;&nbsp;<b> {{price}}</b></mat-list-item>
                    <mat-list-item *ngIf="formatted_createDate!='NaN undefined NaN NaN:NaN:NaN'"> <i class="material-icons">date_range</i> Date Created:&nbsp;&nbsp;<b> {{formatted_createDate}}</b> </mat-list-item>
                    <mat-list-item *ngIf="formatted_editDate!='NaN undefined NaN NaN:NaN:NaN'"> <i class="material-icons">date_range</i> Date Last Edited:<b> {{formatted_editDate}}</b> </mat-list-item>
                </mat-list>
            </div>
            <hr>
            <mat-toolbar>Description</mat-toolbar>
            {{description}}
            <hr>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button mat-raised-button class="editButton" [routerLink]="['/edit/'+this.id]"> <i class="material-icons">mode_edit</i> Edit Product</button>
            <hr />
        </mat-card-actions>
    </mat-card>
</div>

