<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<div class="container">
  <div class="container-fluid">
    <div style="color: #a600ff;">
      <h1>{{title}}</h1>
      <h3>{{description}}</h3>
    </div>

    <nav>
      <a routerLink="customers" class="btn btn-primary active" role="button" routerLinkActive="active">Users</a>
      <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add User</a>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>

